@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Sevillana&family=Ubuntu&display=swap");

* {
    box-sizing: border-box;
}

body {
    color: #fff;
    background: url(/image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:  100vh;
    font-family: "Sevillana", Sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    font-size: 60px;
    margin: -150px 0 40px;
}

.countdown {
    display: flex;
    transform: scale(2);
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.time h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
}

.description {
    margin-top: 45px;
    width:  400px;
}

.description p {
    font-size: 20px;
}

@media(max-width:600px) {
    body {
        color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .countdown {
        margin: -150px 0 0;
    }

    .time{
        margin-left: 10px;
        
    }
    
    .time h2 {
        font-size: 16px;
    }
    
    .small {
        font-size: 16px;
    }
}